.scrolly-container {
    position: relative;
    margin-bottom: 1.2em;
    /* transition: opacity 1s ease-in;  */
}

.sticky-thing {
    position: sticky;
    top: 0;
    transform: translate(0px, 0px);
    /* transition: opacity 1s ease-in; */
    z-index: 0;
    height: 80svh;
    width: 100vw;
    margin-top: -95px;
    margin-bottom: -95px;
    overflow: hidden;
    display: flex; /* Center everything inside */
    justify-content: center; /* Center everything inside */
    align-items: center; /* Center everything inside */
}

.sticky-thing > img {
    max-width: 60%; /* Adjust this value to control the image size */
    height: auto;
    transition: opacity 1s ease-in;
    display: block;  
    margin-left: auto;
    margin-right: auto;
}

.sticky-thing-new {
    position: sticky;
    top: 0;
    transform: translate(0px, 0px);
    /* transition: opacity 1s ease-in; */
    z-index: 0;
    height: 80svh;
    width: 100vw;
    /* margin-top: -95px; */
    /* margin-bottom: -95px; */
    overflow: hidden;
    display: flex; /* Center everything inside */
    justify-content: center; /* Center everything inside */
    align-items: center; /* Center everything inside */
}

.sticky-thing-new > img {
    max-width: 62%; /* Adjust this value to control the image size */
    height: auto;
    /* transition: opacity 1s ease-in; */
    display: block;  
    margin-left: auto;
    margin-right: auto;
}

.radar img {
    max-width: 100%; /* Ensures image doesn't exceed the container width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes the default inline spacing */
    margin-left: auto;
    margin-right: auto; /* Centers the image horizontally */
}

.radar {
    width: 60%; /* Adjust the radar container width */
    margin: 0 auto; /* Centers the radar container */
}

.video-container {
    position: sticky;
    top: 0;
    z-index: -1;
}

.scrolly-container video {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
}

.sticky-thing iframe {
    position: absolute;
    top: 0;
    max-width: 100%;
    /* transition: opacity 1s ease-in;  */
    min-height: 100vh;
}

.steps-container {
    transform: translate3d(0,0,0);
    position: relative;
    padding: 0;
    z-index: 10;
    max-width: 35rem;
    margin: 0 auto;
    padding-bottom: 4em;
}

.step {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50svh;
    transform: translate(0px, 0px);
}

.step p {
    text-align: left;
}

.step p:last-child {
    padding: 0;
}

/* .step > * {
    width: 700px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    transition: opacity 1s ease-in;
    padding: 1.2em !important;
    background-color: #565453cc;
} */

.step > * {
    width: 700px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    /* transition: opacity 1s ease-in, transform 0.3s ease-in-out; */
    padding: 1.2em 1.5em !important;
    background-color: rgb(230, 220, 220);
    color:  black; /* Lighter text color for better readability */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.step-new {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50svh;
    transform: translate(0px, 0px);
}

.step-new p {
    text-align: left;
}

.step-new p:last-child {
    padding: 0;
}

.step-new > * {
    width: 700px;
    margin-left: 1.3em;
    margin-right: 1.3em;
    text-align: center;
    /* transition: opacity 1s ease-in, transform 0.3s ease-in-out; */
    padding: 1.2em 1.5em !important;
    background-color: rgb(230, 220, 220);
    color: black; /* Lighter text color for better readability */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.sticky-thing > canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    display: block;  
}

/* When it's less than 700 pixels wide, do normal scrollytelling */

@media only screen and (min-width: 700px) {
    .scrolly-container.side-by-side {
        display: flex;
    }

    .scrolly-container.side-by-side > div {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.75em;
    }

    .scrolly-container.side-by-side .scrolly-overlay {
        margin-top: 70vh;
        order: 0;
        /* Change these to adjust sizing options */
        min-width: 15rem;
        max-width: 20rem;
    }

    .scrolly-container.side-by-side .sticky-thing {
        order: 1;
        flex-grow: 2;
    }
}